.DS_Store
DiversityApp/.DS_Store
research_statement.aux
research_statement.log
research_statement.synctex.gz
Cover_Letter_For_Job.aux
Cover_Letter_For_Job.log
Cover_Letter_For_Job.synctex.gz
teaching_statement.aux
teaching_statement.log
teaching_statement.synctex.gz
CV.aux
CV.log
CV.syntex.gz
CV.out
combine_all_four.synctex.gz
combine_all_four.log
combine_all_four.aux
